/* Edit style here */
@font-face {
    font-family: Ultra;
    src: url(Ultra.ttf);
}

@font-face {
    font-family: Arvo;
    src: url(Arvo.ttf);
}
* {
    font-family: Arvo;
}
body {
    margin: 0;
    padding: 0;
}
.kweeni-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    justify-items: center;
    align-items: center;
    background-color: #494e61;
    grid-column-gap: 30%;
}

.btn {
    font-family: Ultra;
    border: 1px solid blue;
    background-color: blue;
    color: #e4e0ff;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 4px;
    font-size: 1.5em;
}
.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.username, .logout {
    text-align: right;
}

.username a {
    text-decoration: none;
    color: #99a0bb;
}

.logout a {
    color: #ee9d9d;
}
.profile img {
    height: 50px;
    width: 50px;
    padding: 15px;
    border-radius: 30%;
}

/* Second Section */

.question {
    background-color: #ffeef0;
    height: 200px;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 25px;
}
.question h2 {
    font-family: Ultra;
    font-size: 1.75em;
    text-align: center;
    color: #fa5b33;
    margin: 0;
}
form {
    margin: 0;
    padding: 0;
}
form input {
    border: 4px solid #efadb4;
    font-size: 1em;
    padding: 10px 200px 10px 15px;
    height: 25px;
}

/* Third Section */

.topics h3 {
    font-family: Ultra;
    text-align: center;
}

.topic {
    display: grid;
    grid-template-columns: 150px minmax(100px, 1fr)  150px;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #ececec;
    padding: 15px 0;
}

.topic:first-of-type {
    border-top: 1px solid #ececec;
}

.title {
    justify-self: start;
    display: block;
    white-space: nowrap;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title a {
    text-decoration: none;
    color: #494e61;
}
.likes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    color: #818baf;
    width: 60px;
    padding: 10px
}

.likes img {
    width: 20px;
}


.user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}
.user img {
    height: 40px;
    width: 40px;
    border-radius: 20%;
}

.user .username {
    color: #d9806a
}


.load-more {
    text-align: center;
    padding: 50px 0;
}
@media (min-width: 700px) {
    .topic {
        grid-template-columns: 300px minmax(200px, 1fr)  300px;
    }

    form input {
        padding: 10px 400px 10px 15px;
    }
    
}

/* HOME PAGE */

.home_header {
    background-color: #DCDCDC;
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    width: 100%;
    height: 100%;
    justify-content: center;
}

.home_title {
    color: #494E61;
    margin: 0;
    font-weight: 100;
}

.home_logo {
    grid-column: 1/-1;
    width: 35%;
    align-self: center;
    justify-self: center;
    padding: 20px;
}

.home_btn {
    grid-column: 1/-1;
    grid-row: 3 / span 1;
    justify-self: center;
    margin: 20px 0 60px 0;
}

.home_containertitle {
    grid-column: 1/-1;
    width: 70%;
    justify-self: center;
    font-size: .7em;
    padding: 20px 0;
}

.home_image1 {
    background-image: url(../images/user1.png);
}

.home_image2 {
    background-image: url(../images/user2.png);
}

.home_image3 {
    background-image: url(../images/user3.png);
}

.home_image4 {
    background-image: url(../images/user4.png);
}

.home_image5 {
    background-image: url(../images/user5.png);
}

.home_image6 {
    background-image: url(../images/user6.png);
}

.home_image7 {
    background-image: url(../images/user7.png);
}

.home_image8 {
    background-image: url(../images/user8.png);
}

.home_image9 {
    background-image: url(../images/user9.png);
}

.home_image10 {
    background-image: url(../images/user10.png);
}

.home_image11 {
    background-image: url(../images/user11.png);
}

.home_image12 {
    background-image: url(../images/user12.png);
}

.home_image1, .home_image2, .home_image3, .home_image4, .home_image6, .home_image7, .home_image8, .home_image9, .home_image10, .home_image11, .home_image12 {
    height: 100px;
    background-size: cover;
    background-position: center;
}

.home_image5 {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
    background-size: cover;
    background-position: center;
}

.home_image7 {
    grid-column: 4 / span 1;
    grid-row: 5 / span 2;
    background-size: cover;
    background-position: center;
    height: 200px;
}

.home_overkweni {
    display: grid;
}

.home_coins_title, .home_samenslimmer_title, .home_imd_title {
    color: #494E61;
    text-transform: uppercase;
    font-family: Ultra;
    font-size: .8em;
    display: flex;
    align-items: center;
}

.home_samenslimmer, .home_coins, .home_imd {
    width: 60%;
    justify-self: center;
    margin: 40px 0;
}

.home_overkweni h2 {
    padding-left: 20px;
}

.home_overkweni img {
    width: 50px;
}

@media(min-width: 30em){
    .home_header {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    .home_image5 {
        grid-column: auto;
        grid-row: 5 / span 1;
        height: 100px;
    }

    .home_image7 {
        grid-column: auto;
        grid-row: 5 / span 1;
        height: 100px;
    }
}

@media(min-width: 60em) {
    .home_header {
        grid-template-columns: repeat(10, minmax(auto, 100px));
        padding-top: 40px;
        
    }
    
    .home_logo {
        grid-column: 1 / span 6;
        justify-self: start;
        width: 80%;
    }
    
    .home_btn {
        grid-column: 8 / span 1;
        grid-row: 1 / span 1;
        justify-self: center;
        align-self: center;
        margin: 20px 0 20px 0;
    }
    
    .home_containertitle {
        grid-column: 1 / span 5;
        width: 100%;
        justify-self: start;
        font-size: 1em;
        padding: 20px 0 40px 20px;
        align-self: start;
    }
    
    .home_image1 {
        grid-column: 6 / span 1;
        align-self: end;
    }
    
    .home_image2 {
        grid-column: 9 / span 1;
        align-self: end;
    }
    
    .home_image3 {
        grid-column: 1 / span 1;
    }
    
    .home_image4 {
        grid-column: 3 / span 1;
    }
    
    .home_image5 {
        grid-column: 4 / span 2;
        grid-row: 3 / span 2;
        height: 200px;
    }
    
    .home_image6 {
        grid-column: 7 / span 1;
    }
    
    .home_image7 {
        grid-column: 9 / span 1;
        grid-row: 3 / span 1;
    }
    
    .home_image8 {
        grid-column: 10 / span 1;
    }
    
    .home_image9 {
        grid-column: 2 / span 1;
    }
    
    .home_image10 {
        grid-column: 7 / span 2;
        grid-row: 4 / span 1;
        height: 200px;
    }
    
    .home_image11 {
        grid-column: 9 / span 1;
    }
    
    .home_image12 {
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;
        align-self: end;
    }
    
    .home_overkweni {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        max-width: 900px;
        margin: 100px auto;
        align-content: center;
    }
    
    .home_samenslimmer {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        justify-self: left;
        align-self: center;
    }
    
    .home_coins {
        grid-column: 2 / span 1;
        justify-self: left;
    }
    
    .home_imd {
        grid-column: 2 / span 1;
        justify-self: left;
    }
    
    .home_samenslimmer, .home_coins, .home_imd {
        margin: 0;
        width: 80%;
    }
    
    .home_overkweni img {
        width: 60px;
    }
    
    .home_coins_title, .home_samenslimmer_title, .home_imd_title {
        font-size: 1em;
    }
    
    /* css pagina 3 */
    *
{
  box-sizing: border-box;
}
.logout{
    color: #FA5B33;
}
.OP{
    color: #FA5B33;
    font-weight: bold;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
header{
    background-color: #494E61;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
header img{
    height: 40px;
    border-radius: 5px;
}
img{
    height: 30px;
    border-radius: 5px;
}
.login_info{
    display: grid;
    text-align: right;
    grid-gap: 5px;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 18px 18px;
}
.login_info img{
    grid-column: 2/3;
    grid-row: 1/3;
    
}
.login_info p{
    margin: 0;
    padding: 0;
    color: #6C7289;
    font-weight: bold;
}
.login_info_small{
    display: grid;
    text-align: right;
    grid-gap: 5px;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 14px 14px;
}
.login_info_small img{
    grid-column: 2/3;
    grid-row: 1/3;
    
}
.login_info_small p{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    align-self: center;
    color: #FA5B33;
}
.question{
    background-color: #FFF6F7;
    height: 200px;
    display: grid;
    grid-template-rows: auto;
    
}
h3{
    align-self: center;
    text-align: center;
    font-size: 2em;
    color: #FA5B33;
}
.likeout{
    background-color: #FFEEF0;
    
}
.like{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr; 
    align-items: center;
    height: 100px;
}
.liked_user_list{
    display: grid;
    grid-template-columns: repeat(9,20px);
    grid-gap: 3px;
}
.liked_user_list img{
    height: 20px;
    padding: 0;
    margin: 0;
}
.likecounter{
    background-color: #F6E5E7;
    height: 100px;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
}
.likenr{
    align-self: flex-end;
    justify-self: center;
}
.user{
    display: flex;
       
}
.reply .user{
    justify-self: end;
}
.user p{
    margin: 0 0 0 1em;
    align-self: center;
    font-size: 0.8em
}
.comments{
    display: grid;
    grid-gap: 1em;
}
.reply_form{
    width: 500px;
    justify-self: flex-end;
    justify-content:flex-end; 
    text-align: right;
    grid-gap: 5px;
}
.reply{
    width: 500px;
    justify-self: flex-end;
    justify-content: end; 
    text-align: right;
    grid-gap: 5px;
}

main{
    padding: 2em;
}
.text_box{
    border: 1px solid #F6F6F6;
    border-radius: 4px;
    padding: 1em;
    display: grid;
}
input{
    width: 400px;
}
.answer_input{
    background-color: #434757;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-bottom: 5em;
}
#formpic{
    border-radius: 0;
    height: 2em;
}
.answer_input input{
    height: 2.3em;
    border: none;
}
.reply_box{
    background-color: #F6F6F6;
    width: 500px;
    display: grid;
    justify-self: flex-end;
    justify-content:center; 
    padding: 20px;
}
.reply_box form{
    text-align: center;
}
.button{
    text-decoration: none;
    color: white;
    background-color: #3B1CFF;
    text-align: center;
    padding: 0.5em 1em;  
    height: 2em;
    border: none;
}

}